@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap");

html,
body {
  margin: 0;
  background-color: #f0f5fe;
  padding: 100px;
  font-family: "Noto Sans KR";
}
* {
  font-family: "Noto Sans KR";
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  outline: 0;
  border: 0;
}
